# Global requirements.txt for all of the blueberry deps
# You must install some system packages before those can install:
# Fedora: portaudio-devel, pipewire-devel, pipewire-pulseaudio, mpv-devel
# Arch: portaudio, pipewire, pipewire-pulse, mpv
# Debian: portaudio19-dev, pipewire-audio, mpv
openwakeword
pyaudio
webrtcvad
aiomqtt
piper-tts
faster-whisper
mpv
requests

